.container {
  width: 90%;
  margin: auto;
}
header {
  background-color: #009688;
  /* margin-bottom: 20px; */
  padding: 10px;
  min-height: 82px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:600px) {
      &{
        flex-direction: column;
        text-align: center;
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul.links {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 20px;
      a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 5px;
        transition: 0.3s;
        &:hover {
          border-radius: 5px;
          background-color: #F44336;
        }
      }
    }
  }
}
