.container {
  width: 90%;
  margin: auto;
}
header {
  background-color: #009688;
  /* margin-bottom: 20px;
  */
  padding: 10px;
  min-height: 82px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul.links {
  list-style: none;
  padding: 0;
}
header ul.links li {
  display: inline-block;
  margin-left: 20px;
}
header ul.links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  transition: 0.3s;
}
header ul.links li a:hover {
  border-radius: 5px;
  background-color: #777;
}
a.active {
  background-color: #333;
  border-radius: 2px;
}
