.show-degree {
  margin-top: 20px;
}
.show-degree form {
  background-color: #eee;
  width: clamp(300px, 50%, 800px);
  margin: auto;
}
.show-degree form input {
  display: block;
}
.degrees-links {
  text-align: center;
  margin-bottom: 10px;
  background-color: #009688;
}
.show-degree {
  margin-top: 30px;
  padding: 10px;
}
.container {
  /* display: flex;
  flex-wrap: wrap;
  gap: 5%; */
}
.degrees-links {
  background-color: #eee;
  transition: 0.3s;
  margin: 20px 0;
  width: 45%;
  text-align: center;
  box-shadow: 0px 0px 4px #6e6e6e;
}
@media (max-width: 991px) {
  .degrees-links {
    width: 90%;
    margin: 20px auto;
  }
}
.degrees-links:hover h2 {
  background-color: #009688;
}
.degrees-links:hover {
  transform: translateY(10px);
}
.degrees-links h2 {
  background-color: #ff5722;
  color: white;
  margin: 0;
  padding: 10px 0;
  transition: 0.3s;
}
.link-to-degree {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 30px;
  border: none;
  background-color: #f44336;
  color: white;
  font-family: "Cairo";
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}
.link-to-degree:hover {
  border-radius: 5px;
  background-color: #009688;
}
.container-box-degree-info {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}